main

  section
    .content.no-height
      h1 Jeff + idlecars
      p Spring and Summer 2015

  section
    .content.no-height
      blockquote
        p Jeff--how are you so gangster?
        cite - Brian Claypool, CEO idlecars

    .content.no-height
      img(src="/images/idlecars.png")

  section
    .content
      h2 The idea
      p The New York City-based startup idlecars thinks there's a lot of
        |  potential uber drivers who don't own a car, and a lot of idle cars that could be
        |  used to earn income for their owners.
      p The idea is simple: bring those parties together and reduce friction
        |  by building a technology-focussed marketplace.

  section
    .content
      h2 The tech
      p In collaboration with the CTO, we decided that a Django Rest Framework back end
        |  paried with a mobile-centered AngularJS front end would be our fastest path to victory.
      p We were able to launch a working MVP marketplace within two weeks of our initial commit.

  section
    .content
      h2 Iteration
      p Users started using. It became clear that we needed to add features to keep them happy.
        |  An emphasis on iterative product design is something I brought to the team.
      p First, making sure we had enough test coverage to make sure the app wasn't
        |  falling apart while we were constantly adding on.
      p Also, an emphasis on communication, knowledge sharing, and retrospectives
        |  to ensure the team wasn't falling apart under the constant pressure for more features.

  section
    .content
      h2 Beyond code
      p We realized the need for a thoughtful user experience to go along with
        |  the efficiencies gained from bringing tech to this market.
      p I worked closely with designers, and even stepped up to the design plate a bit,
        |  to keep the complexities of credit card payments, search, licensing, and insurance
        |  appear simple to users.
