// VARIABLES
@redred: #F22727;
@white: #FFF;

@biggest: ~"screen and (min-width: 550px)";
@smallest: ~"screen and (max-width: 350px)";

// ELEMENTS

ul {
  list-style-position: outside;
  list-style-type: circle;
  padding: 0;
}

.icon {
  text-decoration: none;
}

// TYPOG

body {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400;
}

h3 {
  font-size: 3rem;
  line-height: 1em;
  @media @biggest {
    font-size: 5rem;
  }
  @media @smallest {
    font-size: 2rem;
  }
}

p, li, aside {
  font-weight: 300;
}

p {
  font-size: 1.5rem;
  @media @biggest {
    font-size: 1.75rem;
  }
  @media @smallest {
    font-size: 1.25rem;
  }
}

li {
  font-size: 1.25rem;
  @media @biggest {
    font-size: 1.5rem;
  }
  @media @smallest {
    font-size: 1rem;
  }
}

aside {
  font-size: 0.8rem;
}

// LAYOUT

* {
  box-sizing: border-box;
}

html, body, .container {
  height: 100%;
  width: 100;
  margin: 0;
  background: @white;
}

.content {
  margin: 0 auto;
  max-width: 660px;
  padding: 2.5rem 2.5rem 4rem;
  min-height: 88vh;

  >* {
    margin-bottom: 1em;
  }

  >*:last-child {
    margin-bottom: 0;
  }

  h3 {
    margin-bottom: 0.4em;
  }
}

section {
  background: @redred;
  color: @white;

  a {
    color: @white;
  }
}

main section:nth-child(2n) {
  background: @white;
  color: @redred;

  a {
    color: @redred;
  }
}

// Components

.profiles li {
  font-size: 1.75em;
  display: inline-block;
  margin-right: 0.5em;
}

// Hide only visually, but have it available for screen readers
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
