h1.visuallyhidden Jeff Kahn, Freelance Full-Stack Developer in NYC
section
  .content
    h3 Hi, I'm Jeff.
    p A freelance full-stack developer based in New York City.
    p The best way to contact me is {{ email_address }}

section
  .content
    h3 Experienced.
    p I've worked with the best.
