h1.visuallyhidden Jeff Kahn, Freelance Full-Stack Developer in NYC
section
  .content
    h3 Hi, I'm Jeff.
    p A freelance full-stack developer based in New York City.
    p The best way to contact me is kjeffk@gmail.com.

section
  .content
    h3 Experienced.
    p I've worked with the best.

section
  .content
    h3 Do-it-all.
    p I've worked with the best.

section
  .content
    h3 Agile.
    p I work with clients in a way that is collaborative, communicative, and creative. That means short iteration and feedback cycles. I will ask "why?" at times, and your product will be better for that.

section
  .content
    h3 Details.
    p I've worked with the best.
