h1.visuallyhidden Jeff Kahn
h2.visuallyhidden Freelance Full-Stack Developer in NYC

main

  section
    .content
      h3 Hi, I'm Jeff.
      p A freelance full-stack developer based in New York City.
      p The best way to contact me is <a href="mailto:kjeffk@gmail.com">kjeffk@gmail.com</a>.

  section
    .content
      h3 Experienced.
      p
        | I've worked with the best.
        | After <a target="_blank" href="http://www.compling.uw.edu/">grad school</a>,
        | I worked at <a target="_blank" href="https://kindle.amazon.com/">Amazon</a>,
        | <a target="_blank" href="http://www.nytimes.com/2009/09/23/dining/23recipes.html">two</a>
        | <a target="_blank" href="http://www.crunchbase.com/organization/livestar">startups</a>,
        | and the <a target="_blank" href="http://substantial.com/">best software shop</a> in Seattle.
      p
        a.icon.icon-linkedin(target='_blank' href='https://www.linkedin.com/in/jefkahn')

  section
    .content
      h3 Do-it-all.
      p
        | I strive to be truly full-stack.
        | My career has taken me from back-end server rooms to cutting-edge CSS.
        | My preferred stack includes:
      ul
        li Ruby on Rails
        li Client-side Javascript (various frameworks)
        li HTML5 / responsive CSS
        li Tested and maintainable code
        li Machine learning / NLP / recommendation systems
        li Relational databases / key-value stores
        li Heroku / AWS
        li Native iOS in Swift*
      aside * I'm working on learning iOS and would love to work with experienced devs
      p
        a.icon.icon-github(target='_blank' href='https://github.com/jefk')

  section
    .content
      h3 Agile.
      p
        | I work with clients in a way that is collaborative, communicative, and creative.
        | I will ask "why?" daily, and you should ask the same of me--your product will be better for that.

  section
    .content
      h3 Details.
      p A thoughtful user experience is important in everything I build. I work closely with product designers to make sure we get it right.
